langchain
ipykernel
python-dotenv
langchain_groq
langchain_community
langchain_classic
pypdf
sentence_transformers
langchain_huggingface
chromadb
langchain_chroma
pymuPDF
langchain-openai
streamlit
langchain-core
langchain-text-splitters
langchain-chroma


